$cuadro: (
    borde-ancho: 30px,
    borde-estilo: double,
    borde-radio: 30px,
    relleno-cuadro: 80px,
    margen-cuadro: 0px 10px 20px 10px,
);

$contenido-cuadro: (
    posicion-texto: center,
    margen-abajo: 15px,
    ancho-imagen: 25px,
    largo-imagen: 25px,
);